.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    margin: 1%;
    height: 90vh;
  }
  .grid-item {
    background-color: lightblue;
    border: 5px solid black;
    font-size: 5vw;
    text-align: center;
    word-wrap: break-word;

  }
  body {
      background-color: black;
      font-family: 'Montserrat', sans-serif;
      color: whitesmoke;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  .widget-content {
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .map {
    height: 100%;
  }